.game_main_container{
	background-color: cornflowerblue;
}
.game_header{
    text-align: center;
    padding: 15px;
}

.minesweeper_section input {
  	width: 30px;
  	height: 30px;
	font-size: 18px;
	font-weight: bold;  
}

.minesweeper_section input[value="1"] {
  	color: #4285F4;  
}
.minesweeper_section input[value="2"] {
  	color: #34A853;  
}
.minesweeper_section input[value="3"] {
  	color: #EA4335;  
}
.minesweeper_section input[value="4"] {
  	color: #5F3469;  
}
.minesweeper_section input[value="5"] {
  	color: #F19571;  
}

.minesweeper_section .panel_cell {
	background-color:#DCDCD4;
}

.minesweeper_section .panel_cell.visible {
	background-color: #fff;
}

.minesweeper_section .panel_cell.mine {
	background-color: #EA4335;
}

.winner_alert{
	display: none;
	margin: 10px;
	position: absolute;
	margin-top: 50px;
	margin-left: 100px;
}

.btn-custom {
	border: none !important;
}
.btn-custom:hover,.btn-custom:focus{
	border: none !important;
	background-color: transparent!important;
	outline: transparent!important;
}
#generate_panel_icon{
	height: 40px;
	width: 40px;
}
/*FIREWORKS CSS*/
#fireworks_container {
    position: absolute;
    display: none;
}

#bg {
    position: absolute; 
    outline: 1px solid white;
    z-index: 0;
}

#fireworks {
    position: absolute;
    top: 6px;
    left: 9px;
    z-index: 1;
}
