.game_main_container{
	padding: 15px;
	background-color: cornflowerblue;
}
.game_header{
    text-align: center;
    padding: 15px;
}

.minesweeper_section input {
  	width: 30px;
  	height: 30px;
	font-size: 18px;
	font-weight: bold;  
}

.minesweeper_section input[value="1"] {
  	color: #4285F4;  
}
.minesweeper_section input[value="2"] {
  	color: #34A853;  
}
.minesweeper_section input[value="3"] {
  	color: #EA4335;  
}
.minesweeper_section input[value="4"] {
  	color: #5F3469;  
}
.minesweeper_section input[value="5"] {
  	color: #F19571;  
}
.minesweeper_section input[value="6"] {
  	color: #1ABC9C;  
}
.minesweeper_section input[value="7"] {
  	color: #AF7AC5;  
}
.minesweeper_section input[value="8"] {
  	color: #CB4335;  
}
.minesweeper_section .panel_cell {
	background-color:#DCDCD4;
}

.minesweeper_section .panel_cell.visible {
	background-color: #fff;
}

.minesweeper_section .panel_cell.mine {
	background-image: url("/assets/images/bomb.png")!important;
	background-repeat: no-repeat;
}

.minesweeper_section .panel_cell.bombflagged {
	background-image: url("/assets/images/bombFlag.png");
	background-repeat: no-repeat;
}


.winner_alert{
	display: none;
	margin: 10px;
	position: absolute;
	margin-top: 50px;
	margin-left: 100px;
}

.btn-custom {
	border: none !important;
}
.btn-custom:hover,.btn-custom:focus{
	border: none !important;
	background-color: transparent!important;
	outline: transparent!important;
}
#generate_panel_icon{
	height: 30px;
	width: 30px;
}
/*FIREWORKS CSS*/
#fireworks_container {
    position: absolute;
    display: none;
}

#bg {
    position: absolute; 
    outline: 1px solid white;
    z-index: 0;
}

#fireworks {
    position: absolute;
    top: 6px;
    left: 9px;
    z-index: 1;
}

/*GAME SETTING */
span.radio > input[type='radio'] {
    display:none;    
}
span.radio > label {    
    display:table;     
}
span.radio > label > span {
    display:table-cell;
    width:20px;    
    white-space:nowrap;    
}
span.radio > label > span:before {
    content:'';
    width:20px;
    height:20px;
    border-radius:50%;
    display:inline-block;
    box-shadow: 0 0 4px 2px gray inset;
    vertical-align:middle;       
}
span.radio > label > span:after {
    content:'';
    position:relative;    
    display:inline-block;
    vertical-align:middle; 
    left:-16px;    
    width:12px;
    height:12px;
    border-radius:50%;
    box-shadow:0 0 3px 1px red;
    background:radial-gradient(circle at 2px 2px, white, red);
    visibility:hidden;
}
span.radio > label:hover > span:before {
    box-shadow: 0 0 5px 3px orange inset;
}
span.radio > input[type='radio']:checked + label > span:after {
    visibility:visible;
}
span.radio {    
    display:inline-block;
    margin-bottom:3px;
}
/*END*/

.game_config_setting_table,.game_config_setting_table th {
	text-align: center;
}
.game_config_setting_table .game_type{
	text-align: left;
}