@(message: String)
@main("Welcome to Play") {
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/home.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/fireworks.js")" type="text/javascript"></script>
</head>
<body>
<div class = "container">
    <div class = "row">
		<div class = "col-sm-6 col-sm-offset-3">
		
			<div class = "game_header">
				<center>
					<div class="winner_alert alert alert-success" role="alert">
				  		<strong>Congratulations!</strong> You win the game.
					</div>
				</center>				
		        <button id="generate_panel" class="btn btn-default btn-custom">
	        		<img id = "generate_panel_icon" src="@routes.Assets.versioned("images/smile.png")"/>
	    		</button>    		

    		</div>
    		<center>
				<div id="fireworks_container">
				    <canvas id="fireworks" width="516" height="302"/>
				</div>
			</center>    		
		    <div class = "minesweeper_section">
		        <center><table id = 'minesweeper_table' border = '0'></table></center>
		    </div>			
		</div>    	
    </div>

</div>
</body>
</html>
    <script type="text/javascript">
        $(document).ready(function(){       	
        	var current_panel;
			$('#generate_panel').click(function(){	
			        $('#fireworks_container').hide();	
					$('#generate_panel_icon').attr('src','/assets/images/smile.png');			        	
					$.ajax({
				    	type: "GET",
				    	url: '/panel/get?rows=9&columns=9&mines=10',
				    	dataType: "json"
				  	}).success(function( result ) {
					 	current_panel = result;
						generate_grid(result);
				  	});				
			});

			$(document).on('click', '.panel_cell', function() {
				if(!$(this).hasClass('visible')){
					current_cell = $(this).attr('id').split('_'); 
					var submit_json = {};
					submit_json.clickedRowIndex = parseInt(current_cell[0]);
					submit_json.clickedColIndex = parseInt(current_cell[1]);
					submit_json.panel = current_panel;

					$.ajax({
					    headers: { 
					        'Content-Type': 'application/json' 
					    },					    	
				    	type: "POST",			    	
				    	url: '/panel/submit',
				    	dataType: "json",
				    	data: JSON.stringify(generate_submit_json(submit_json))
				  	}).success(function( result ) {
					 	generate_grid(result.panel);
				  	});
				}
			});
			$('#generate_panel').trigger('click'); //INITIAL STATE		
        });
    </script>
}
