@(message: String)
@main("Welcome to Play") {
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/home.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery-2.1.1.js")" type="text/javascript"></script>
</head>
<body>
<div class = "row">
    <div>
        <button id="generate_panel">
            Start
        </button>
    </div>
    <div class = "minesweeper_section">
        <table id = 'minesweeper_table' border = '0'></table>
    </div>
</div>
</body>
</html>
    <script type="text/javascript">
        $(document).ready(function(){
        	var current_panel;
			var isSetTable = false;
			$('#generate_panel').click(function(){
				if(!isSetTable){				
					$.ajax({
				    	type: "GET",
				    	url: '/panel/get',
				    	dataType: "json"
				  	}).success(function( result ) {
					 	console.log(result);
					 	current_panel = result;
						generate_grid(result)
						isSetTable = true;
				  	});
			  	} 				
			});
		
			$(document).on('click', '.panel_cell', function() {
				if(!$(this).hasClass('visible')){
					current_cell = $(this).attr('id').split('_'); 
					var submit_json = {};
					submit_json.clickedRowIndex = parseInt(current_cell[0]);
					submit_json.clickedColIndex = parseInt(current_cell[1]);
					submit_json.panel = current_panel;

					$.ajax({
					    headers: { 
					        'Content-Type': 'application/json' 
					    },					    	
				    	type: "POST",			    	
				    	url: '/panel/submit',
				    	dataType: "json",
				    	data: JSON.stringify(generate_submit_json(submit_json))
				  	}).success(function( result ) {
					 	generate_grid(result);
				  	});						

				}
			});
        });
    </script>
}
