@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

	<div class = "row">
		<div>
			<button id="generate_panel">
			Start
			</button>	
		</div>
		<div class = "minesweeper_section">
			<table id = 'minesweeper_table' border = '1'></table>	
		</div>	
	</div>	

    <script type="text/javascript">
        $(document).ready(function(){

			var isSetTable = false;
			$('#generate_panel').click(function(){
				if(!isSetTable){				
					$.ajax({
				    	type: "GET",
				    	url: '/panel/get',
				    	dataType: "json"
				  	}).success(function( result ) {
					 	console.log(result);

							var theTable = "";
							  for(var j = 0;j < result.dimension; j++){
							      theTable += '<tr>';
							      for(var k = 0; k < result.dimension; k++){  
							      	id = j + '_' + k;
							      	cell = result.grid[j][k]; 
							      	if (cell.hidden)    
							        	theTable += '<td><button id = '+ id +' class = "panel_cell"></button></td>';
							        else
							        	theTable += '<td><button id = '+ id +' class = "panel_cell visible">'+ cell.value +'</button></td>';
							      }
							      theTable += '</tr>';
							  }
						   	
						   	$('#minesweeper_table').append(theTable);	
						   	isSetTable = true;
				  	});
			  	} 				
			});
		
			$(document).on('click', '.panel_cell', function() {
				if(!$(this).hasClass('visible')){
					console.log($(this).attr('id'))
					
				}
			});        	

        });
    </script>


}
